<h3>Home</h3>
<p>Welcome to the my shave of the day application. If you are new, please add some shaving items to your inventory and then create a shave!</p>
<div class = "centered"><%= image_tag "missing/shave_record/medium/missing.png"%></div>